
@model List<DensoSystem.Models.BloodPressureViewModel>
@{
    ViewBag.Title = "BloodPressure";
}
<div id="chart-container" style="width: 100%; height: 100%;">chart-container</div>
<script>
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    $(function () {
        var model = @Html.Raw(Json.Encode(Model.Select(x => new  {
                   Date = x.Date.AddHours(7.0),
                   Systolic = x.Systolic,
                   Diastolic = x.Diastolic
               })));

        var dataSystolics = [];
        var dataDiastolics = [];
        for(var x in model){
            var utc = model[x].Date.substring(6, 19);
            dataSystolics.push([parseInt(utc), model[x].Systolic]);
            dataDiastolics.push([parseInt(utc), model[x].Diastolic]);
        }

        $('#chart-container').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Blood Pressure over time'
            },

            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Blood Pressure'
                }
            },
            legend: {
                enabled: true
            },

            series: [{
                type: 'line',
                name: 'Systolic',
                data: dataSystolics,
                color: "#6666FF"
            },{
                type: 'line',
                name: 'Diastolic',
                data: dataDiastolics,
                color: '#FF9900'
            }]
        });
    });

</script>

